#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=pytest-runner

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.rst

override_dh_auto_test:
# Tests not enabled because there don't appear to be any tests to run.
